<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Register</title>
</head>
<body>

    <div class="hero">
        <div class="form-box">
            <div class="button-box">
                <div id="btn">

                </div>

                <button type="button" class="toggle-btn" onclick="login()">
                    Log in
                </button>

                <button type="button" class="toggle-btn" onclick="register()">
                    Register
                </button>
            </div>
            <div class="social-icons">
                <img src="{{url_for('static', filename='images/linkedin.png')}}" alt="linkedin">
                <img src="{{url_for('static', filename='images/google.png')}}" alt="google">
                <img src="{{url_for('static', filename='images/telegram.png')}}" alt="telegram">
            </div>
<!-- **************************************************************** -->
            <form action="#" class="input-group" id="login">
                <input type="text" class="input-field" placeholder="Enter username..."
                required>
                <input type="password" class="input-field" placeholder="Enter password..."
                required>
                <label><input type="checkbox" class="check-box">Remember me</label>
                <button type="submit" class="submit-btn">
                    Log in
                </button>
            </form>

<!-- ***************************************************************** -->

            <form action="#" class="input-group" id="register">
                <input type="text" class="input-field" placeholder="Enter your name..."
                required>
                <input type="text" class="input-field" placeholder="Enter username..."
                required>
                <input type="email" class="input-field" placeholder="Enter email..."
                required>
                <input type="password" class="input-field" placeholder="Enter password..."
                required>
                <button type="submit" class="submit-btn">
                    Register
                </button>
            </form>
        </div>
    </div>

    <script>

        var x = document.getElementById("login");
        var y = document.getElementById('register')
        var z = document.getElementById('btn')

        function register(){
            x.style.left = '-400px';
            y.style.left = '50px';
            z.style.left = '110px';
        }
        function login(){
            x.style.left = '50px';
            y.style.left = '450px';
            z.style.left = '0';
        }
    </script>
</body>
</html>
